<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peng Zuqiang</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="shortcut icon" href="../static/favicon.ico">

</head>
<body>
    <div id="container">
        <header>
            <div id="navbar">
            
               <a href="../index.html"><div id="my-name">
                   <h3>Peng Zuqiang</h3>
                   <h3 id="chinese">彭祖强</h3>
               </div></a>
               <div id="films">
                   <a href="inauguration.html"><p>Inauguration</p></a>
                   <a href="nan.html"><p>Nan</p></a>
                   <a href="remember.html"><p>I Don't Remember The Name</p></a>
                   <a href="#"><p class="current-page">Accordion Class</p></a>
                   <a href="spanish.html"><p>Spanish Vignettes</p></a>
                   <a href="surface.html"><p>Surface Value</p></a>
                   <a href="house.html"><p>The House</p></a>
               </div>
               <div id="info">
                   <a href="info.html"><p>info</p></a>
               </div>
            </div>
        </header>
    
        <div id="navbar-mobile" class="hidden">
            <button id="nav-button-mobile"><i class="fas fa-film"></i></button>
            <div id="films-mobile" class="hidden">
                <a href="./inauguration.html"><p>Inauguration</p></a>
                <a href="./nan.html"><p>Nan</p></a>
                <a href="./remember.html"><p>I Don't Remember The Name</p></a>
                <a href="./accordion.html"><p>Accordion Class</p></a>
                <a href="./spanish.html"><p>Spanish Vignettes</p></a>
                <a href="./surface.html"><p>Surface Value</p></a>
                <a href="./house.html"><p>The House</p></a>
            </div>
            <div id="info-mobile" class="hidden">
                <a href="./info.html"><p>info</p></a>
            </div>
         </div>

        <section id="content">
            <h1 id="title">Accordion Class</h1>
            <img class="main-img" src="../static/accordion1.png">
            <p id="specs">2016 / 14:49' /  HD video</p>
            <!-- <p id="details"></p> -->
            <p>During the Cultural Revolution, the accordion was the only permitted western instrument. With its rhythmic and performative quality, the accordion was favored as an instrument of propaganda. In the ’90s, when the piano and other instruments regained popularity, the accordion became less influential than it had been. However, the instrument is having a revival in the 2010s. The film looks at two accordion classes taught in Changsha, China: One for the primary school kids from mostly working-class families, as part of their school curriculum. The other for a group of middle-aged men and women that meet weekly at their leisure.</p>
            <iframe src="https://player.vimeo.com/video/173978257" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>        </section>
    </div>

    <script src="../static/app.js" type="text/javascript"> </script>
</body>
</html>