<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peng Zuqiang</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/app.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
</head>
<body>
    <div id="container">
        <header>
            <div id="navbar">
            
               <a href="../index.html"><div id="my-name">
                   <h3>Peng Zuqiang</h3>
                   <h3 id="chinese">彭祖强</h3>
               </div></a>
               <div id="films">
                   <a href="#"><p>Inauguration</p></a>
                   <a href="nan.html"><p>Nan</p></a>
                   <a href="remember.html"><p>I Don't Remember The Name</p></a>
                   <a href="accordion.html"><p>Accordion Class</p></a>
                   <a href="spanish.html"><p>Spanish Vignettes</p></a>
                   <a href="surface.html"><p>Surface Value</p></a>
                   <a href="house.html"><p>The House</p></a>
               </div>
               <div id="info">
                   <a href="info.html"><p>info</p></a>
               </div>
            </div>
        </header>
    
        <section id="content">
            <h1 id="title">Inauguration</h1>
            <img class="main-img" src="../static/inauguration1.png">
            <p id="specs">2020/ 13:32 / Super 8mm & HD</p>
            <p id="details">English/ United States, Cuba / Colour and B&W </p>
            <p>What does it mean to look back on a failed assassination? Why does one decide to forget a radical past? Inauguration looks at the fragmented history of the Young China Association (少年学社). Interweaving temporal connections with faint chances of synchronous events between two disparate events at the margins of Chinese revolutionary history: a failed assassination and an impossible trip. The film narrates a forecast of the past, wherein it renders visible the processes of erasure, remembrance, and archival anchors of the early overseas Chinese revolutionary politics and its aftermaths.</p>
            <p>-</p>
            <p>The underground revolutionary group, Young China Association, was established in 1905 by the Chinese and Chinese Americans in the United States to promote the Chinese Revolution which later overthrew the last feudalist dynasty of Qing and proceeded with the establishment of the Republic of China. </p>
            <p>Through a series of anachronistic travels and narratives between Texas, California, and Havana, the film offers an assemblage of two disparate events at the margins of Chinese revolutionary history: The forgotten story of an unsuccessful assassination attempt in 1910 by George Fong, a member of the Young China Association, who aimed to eliminate a royal prince of the Qing Empire while he was traveling in the United States. The film intertwines this failed assassination with the story of two Chinese-Cuban activists who travelled to the United States for the Young China Association's inauguration one year prior in 1909. Movements, geographies, and events do not follow a linear arch but rather are scattered across memories and places, only to be treated as residues, witnesses or simply discards of the history. What happens when the premise of the story is, in fact, the assurance of its erasure?</p>

            <iframe src="https://player.vimeo.com/video/391327298" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

        </section>
    </div>


</body>
</html>