<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peng Zuqiang</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/app.css">
</head>
<body>
    <div id="container">
        <header>
            <div id="navbar">
                <a href="index.html"><div id="my-name">
                   <h3>Peng Zuqiang</h3>
                   <h3>彭祖强</h3>
               </div></a>
               <div id="films">
                   <a href="inauguration.html"><p>Inauguration</p></a>
                   <p>Nan</p>
                   <p>I Don't Remember The Name</p>
                   <p>Accordion Class</p>
                   <p>Spanish Vignettes</p>
                   <p>Surface Value</p>
                   <p>The House</p>
               </div>
               <div id="info">
                   <p>info</p>
               </div>
            </div>
        </header>
    
        <section id="content">
            <h1>Inauguration</h1>
            <img class="main-img" src="../static/inauguration1.png">
        </section>
    </div>


</body>
</html>