<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peng Zuqiang</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/app.css">
</head>
<body>
    <div id="container">
        <header>
            <div id="navbar">
            
               <a href="../index.html"><div id="my-name">
                   <h3>Peng Zuqiang</h3>
                   <h3 id="chinese">彭祖强</h3>
               </div></a>
               <div id="films">
                   <a href="inauguration.html"><p>Inauguration</p></a>
                   <a href="nan.html"><p>Nan</p></a>
                   <a href="remember.html"><p>I Don't Remember The Name</p></a>
                   <a href="accordion.html"><p>Accordion Class</p></a>
                   <a href="spanish.html"><p>Spanish Vignettes</p></a>
                   <a href="surface.html"><p>Surface Value</p></a>
                   <a href="house.html"><p>The House</p></a>
               </div>
               <div id="info">
                   <a href="#"><p>info</p></a>
               </div>
            </div>
        </header>
    
        <section id="content">
            <h1 id="title" class="hidden">info</h1>
            <img class="main-img" src="../static/info.jpg">
            <p>zuqiangpeng@gmail.com | <a href="https://google.com"><span>CV</span></a></p>
            <p>-</p>
            <p>Peng Zuqiang makes moving images.</p>
            <p>Zuqiang‘s works have been shown at exhibitions and festivals in China, Barbados, Ecuador, Germany, Hong Kong, the Netherlands, Poland, Switzerland, the U.K. and the U.S, including Antimatter,  Dok Lepzig, Open City Documentary Festival, Connecting Space in Hong Kong, and Museum of Fine Arts, Houston. He has received fellowships and residencies from the MacDowell, Skowhegan, True/False Film Festival, and the Core Program. Zuqiang is part of the film collective Fish in a Pot 🐠.</p>
        </section>
    </div>


</body>
</html>