<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peng Zuqiang | 彭祖强</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="shortcut icon" href="../static/favicon.ico">
</head>
<body>
    <div id="container">
        <header>
            <div id="navbar">
            
               <a href="../index.html"><div id="my-name">
                   <h1>Peng Zuqiang</h1>
                   <h1 id="chinese">彭祖强</h1>
               </div></a>
               <div id="films">
                   <a href="inauguration.html"><p>Inauguration</p></a>
                   <a href="nan.html"><p>Nan</p></a>
                   <a href="remember.html"><p>I Don't Remember The Name</p></a>
                   <a href="accordion.html"><p>Accordion Class</p></a>
                   <a href="spanish.html"><p>Spanish Vignettes</p></a>
                   <a href="surface.html"><p>Surface Value</p></a>
                   <a href="house.html"><p>The House</p></a>
               </div>
               <div id="info">
                   <a href="#"><p class="current-page">info</p></a>
               </div>
            </div>
        </header>

        <div id="navbar-mobile" class="hidden">
            <button id="nav-button-mobile"><i class="fas fa-film"></i></button>
            <div id="films-mobile" class="hidden">
                <a href="./inauguration.html"><p>Inauguration</p></a>
                <a href="./nan.html"><p>Nan</p></a>
                <a href="./remember.html"><p>I Don't Remember The Name</p></a>
                <a href="./accordion.html"><p>Accordion Class</p></a>
                <a href="./spanish.html"><p>Spanish Vignettes</p></a>
                <a href="./surface.html"><p>Surface Value</p></a>
                <a href="./house.html"><p>The House</p></a>
            </div>
            <div id="info-mobile" class="hidden">
                <a href="./info.html"><p>info</p></a>
            </div>
         </div>
    
        <section id="content">
            <h1 id="title" class="hidden">info</h1>
            <img class="main-img" src="../static/info.jpg">
            <p>zuqiangpeng@gmail.com | <a target="_blank" href="https://docs.google.com/document/d/1lmyM9UjpoS4ztlFPKtjNQ9ciHQHyG9pX--Q7KzkBAc0/edit?usp=sharing"><span>CV</span></a></p>
            <p>-</p>
            <p>Peng Zuqiang makes moving images.</p>
            <p>Zuqiang‘s works have been shown at exhibitions and festivals in China, Barbados, Ecuador, Germany, Hong Kong, the Netherlands, Poland, Switzerland, the U.K. and the U.S, including Antimatter,  Dok Lepzig, Open City Documentary Festival, Connecting Space in Hong Kong, and Museum of Fine Arts, Houston. He has received fellowships and residencies from the MacDowell, Skowhegan, True/False Film Festival, and the Core Program. Zuqiang is part of the film collective Fish in a Pot 🐠.</p>
        </section>
    </div>
    <script src="../static/app.js" type="text/javascript"> </script>

</body>
</html>