<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peng Zuqiang</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/app.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
</head>
<body>
    <div id="container">
        <header>
            <div id="navbar">
            
               <a href="../index.html"><div id="my-name">
                   <h3>Peng Zuqiang</h3>
                   <h3 id="chinese">彭祖强</h3>
               </div></a>
               <div id="films">
                   <a href="inauguration.html"><p>Inauguration</p></a>
                   <a href="#"><p>Nan</p></a>
                   <a href="remember.html"><p>I Don't Remember The Name</p></a>
                   <a href="accordion.html"><p>Accordion Class</p></a>
                   <a href="spanish.html"><p>Spanish Vignettes</p></a>
                   <a href="surface.html"><p>Surface Value</p></a>
                   <a href="house.html"><p>The House</p></a>
               </div>
               <div id="info">
                   <a href="info.html"><p>info</p></a>
               </div>
            </div>
        </header>
    
        <section id="content">
            <h1 id="title"><h1>难/ Nan</h1>
            <img class="main-img" src="../static/nan5.jpg">
            <p id="specs">2019 / 79:31/ HD video</p>
            <p id="details">Hunan Dialect / China / Color</p>
            <p>Nan, my uncle, lives with his parents in a first-floor apartment in the southern Chinese city, Changsha. The apartment is in perpetual tension with talks of life and death, questions of belonging, and a good dose of humor. Lingering over everyday life, the film acquires a durational feel—things happen patiently, even as at times ‘nothing’ seems to. It is a meditation on time, aging, and the economies of care in contemporary China.</p>
            <p>-</p>
            <p>" Zuqiang's film is neither long nor slow. It simply unfolds at the pace with which Nan and his parents move through the world—the rhythms to which anyone who is invited into their world would be asked to synchronize. Several scenes in the film follow Nan’s actions, sending our restless bodies out of sync. We learn about disability not only as symptoms in a body, but as social relationships—physical and temporal relationships that we too become implicated in. More than discerning narratives or plots, the work that the audience does in these scenes is about syncing with other(’s) rhythms. These are acts of love. The process is imperfect. "  -  Sindhu Thirumalaisamy</p>
            <iframe src="https://player.vimeo.com/video/205996048" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            
        </section>
    </div>


</body>
</html>