<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peng Zuqiang</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/app.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
</head>
<body>
    <div id="container">
        <header>
            <div id="navbar">
            
               <a href="../index.html"><div id="my-name">
                   <h3>Peng Zuqiang</h3>
                   <h3 id="chinese">彭祖强</h3>
               </div></a>
               <div id="films">
                   <a href="inauguration.html"><p>Inauguration</p></a>
                   <a href="nan.html"><p>Nan</p></a>
                   <a href="remember.html"><p>I Don't Remember The Name</p></a>
                   <a href="accordion.html"><p>Accordion Class</p></a>
                   <a href="#"><p>Spanish Vignettes</p></a>
                   <a href="surface.html"><p>Surface Value</p></a>
                   <a href="house.html"><p>The House</p></a>
               </div>
               <div id="info">
                   <a href="info.html"><p>info</p></a>
               </div>
            </div>
        </header>
    
        <section id="content">
            <h1 id="title">Spanish Vignettes</h1>
            <img class="main-img" src="../static/spanish1.jpg">
            <p id="specs">2015 / 13:21 / HD video</p>
            <!-- <p id="details"></p> -->
            <p>Shot during a short residence in Sierra Nevada in Southern Spain, the video documents the artist's short stay in the Spanish mountains, as he narrates the published diary of Chi Chang - a young Chinese man who joined the International Brigade in Southern Spain, after his education in the United States in the 30s. The video blends personal observation of the natural landscape of Sierra Nevada, with the history of Chinese presence in Spain. Two styles of shots relate to the storylines of the two characters: Chi Chang and the artist himself, on two different observations, journeys and forms of collectivity in Spain 80 years apart.</p>
            <iframe src="https://player.vimeo.com/video/121446375" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            
        </section>
    </div>


</body>
</html>