<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peng Zuqiang</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/app.css">
</head>
<body>
    <div id="container">
        <header>
            <div id="navbar">
            
               <a href="../index.html"><div id="my-name">
                   <h3>Peng Zuqiang</h3>
                   <h3 id="chinese">彭祖强</h3>
               </div></a>
               <div id="films">
                   <a href="inauguration.html"><p>Inauguration</p></a>
                   <a href="nan.html"><p>Nan</p></a>
                   <a href="remember.html"><p>I Don't Remember The Name</p></a>
                   <a href="accordion.html"><p>Accordion Class</p></a>
                   <a href="spanish.html"><p>Spanish Vignettes</p></a>
                   <a href="#"><p>Surface Value</p></a>
                   <a href="house.html"><p>The House</p></a>
               </div>
               <div id="info">
                   <a href="info.html"><p>info</p></a>
               </div>
            </div>
        </header>
    
        <section id="content">
            <h1 id="title">Surface Value</h1>
            <img class="main-img" src="../static/surface1.jpg">
            <p id="specs">2014 / 10:00 / HD video</p>
            <!-- <p id="details"></p> -->
            <p>Surface Value explores the vision and reality of urban color management in the city of Changsha.The performative voice-over speculates on existing policies of color management, while reflecting the artist's own attempts on ‘capturing colors’ in the city: How does the citizen interact with the colors of urbanisms, and where lies the logic of such urban color control? The film questioned if the so-called management of urban color is possibly only a wishful thinking from the ones in power.</p>
            <iframe src="https://player.vimeo.com/video/113260440" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            
        </section>
    </div>


</body>
</html>